<div class="container">
  <table class="table mt-5">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Address</th>
        <th scope="col">Bookmark</th>
        <th scope="col">Numbers</th>
        <th scope="col">Emails</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.name }}</td>
        <td>{{ contact.surname }}</td>
        <td>{{ contact.adress }}</td>
        <td class="text-center"> 
            <a  *ngIf="contact.bookmark" ><fa-icon  [icon]="faBookmarkSolid"></fa-icon></a>
            <a  *ngIf="!contact.bookmark" ><fa-icon  [icon]="faBookmarkRegular"></fa-icon></a>
        </td>
        <td>
          <div *ngFor="let num of contact.phoneNumbers">
            <p>{{ num.number }}</p>
          </div>
        </td>
        <td>
          <div *ngFor="let email of contact.emails">
            <p>{{ email.email }}</p>
          </div>
        </td>
        <td>
          <div *ngFor="let tag of contact.hashTags">
            <a class="badge badge-light">{{tag.hashTag.hashName}}</a>
           
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  </div>