<div class="container mt-5">
  <div class="row ">
    <div class="col-lg-12 col-md-8 ">
      <button
        type="button"
        class="btn btn-outline-success float-right"
        (click)="newButtonContact()"
      >
        New Contact
      </button>
    </div>
  </div>
  
  <form *ngIf="newContactClick" class="mt-2 mb-5" [formGroup]="nestedForm">
    <div class="form-row">
      <div class=" col-lg-6 col-md-6 mb-3">
        <label for="Name">First name</label>
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          required
          formControlName="name"
        />
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <label for="Surname">Last name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          formControlName="surname"
        />
      </div>
    </div>
    <div class="form-row">
      <div class=" col-lg-12 col-md-12 mb-3">
        <label for="Adress">Adress</label>
        <input
          type="text"
          class="form-control"
          placeholder="Adress"
          formControlName="adress"
        />
      </div>
    </div>
    <div class="form-row">
      <div class=" col-lg-6 col-md-6" formArrayName="numbers">
        <div
          class="row"
          *ngFor="let group of numbersArray.controls; let i = index;"
          [formGroupName]="i"
        >
          <div class="col-md-10 col-lg-10 ">
            <div class="form-group">
              <label for="Number">Number</label>
              <div class="input-group">
                <input
                  type="tel"
                  class="form-control"
                  placeholder="Number"
                  formControlName="number"
                />
                <button
                  class="btn btn-success btn-md btn-input ml-2"
                  (click)="addNumber()"
                >
                  Add
                </button>
                <button
                  [disabled]="i == 0"
                  class="btn btn-danger btn-md btn-input ml-2"
                  (click)="removeNumber(i)"
                >
                  X
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 " formArrayName="contactEmails">
        <div
          class="row"
          *ngFor="let group of emailsArray.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="col-md-10 col-lg-10">
            <div class="form-group">
              <label for="Email">Email</label>
              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="email"
                  formControlName="email"
                />
                <button
                  class="btn btn-success btn-md btn-input ml-2"
                  (click)="addEmail()"
                >
                  Add
                </button>
                <button
                  [disabled]="i == 0"
                  class="btn btn-danger btn-md btn-input ml-2"
                  (click)="removeEmail(i)"
                >
                  X
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 col-lg-6 " formArrayName="contactHashTags">
        <div
          class="row"
          *ngFor="let group of hashArray.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="col-md-10 col-lg-10">
            <div class="form-group">
              <label for="Email">Hashtag</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="HashTag"
                  formControlName="hashName"
                />
                <button
                  class="btn btn-success btn-md btn-input ml-2"
                  (click)="addHashTag()"
                >
                  Add
                </button>
                <button
                  [disabled]="i == 0"
                  class="btn btn-danger btn-md btn-input ml-2"
                  (click)="removeHashTag(i)"
                >
                  X
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="form-row float-right">
      <p class="mr-3">*First name and phone number are required </p>
      <button
        [disabled]="!nestedForm.valid"
        class="btn btn-primary "
        type="submit"
        (click)="submitContact()"
      >
        Submit form
      </button>
    </div>
  </form>

  <table *ngIf="contacts?.length > 0" class="table mt-2">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Address</th>
        <th scope="col">Bookmark</th>
        <th scope="col">Numbers</th>
        <th scope="col">Emails</th>
        <th scope="col">Tags</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.name }}</td>
        <td>{{ contact.surname }}</td>
        <td>{{ contact.adress }}</td>
        <td class="text-center">
          <a class="icon" *ngIf="contact.bookmark" (click)="bookmarkCheck(contact.contactId)" ><fa-icon  [icon]="faBookmarkSolid"></fa-icon></a>
          <a  class="icon"*ngIf="!contact.bookmark" (click)="bookmarkCheck(contact.contactId)"><fa-icon  [icon]="faBookmarkRegular"></fa-icon></a>
        </td>
        <td>
          <div *ngFor="let num of contact.phoneNumbers">
            <p>{{ num.number }}</p>
          </div>
        </td>
        <td>
          <div *ngFor="let email of contact.emails">
            <p>{{ email.email }}</p>
          </div>
        </td>
        <td>
          <div *ngFor="let tag of contact.hashTags">
            <a [routerLink]="['/hashtags/', tag.hashTag.hashName]" class="badge badge-light">{{tag.hashTag.hashName}}</a>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-success mr-1" [routerLink]="['/contacts/', contact.contactId]">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteContact(contact.contactId)" >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
