<div class="container mt-3">
  <h3 class="h3 text-center">Search</h3>
  <br>
  <div class="container">

    <form [formGroup]="searchForm">
      <div class="form-row">
        <div class="col-lg-3">
            <select id="selection" class="form-control" name="Type" formControlName="type" required>
              <option selected disabled>Search by</option>
              <option >First Name</option>
              <option>Last Name</option>
              <option>Hashtag</option>
            </select>
        </div>
          <div class="col-lg-9">
              <input type="text" class="form-control" name="Query" formControlName="query" placeholder="Search for contacts" required>
          </div>
      </div>
      
    </form>


    <table *ngIf="contacts?.length > 0" class="table mt-2">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Address</th>
          <th scope="col">Bookmark</th>
          <th scope="col">Numbers</th>
          <th scope="col">Emails</th>
          <th scope="col">Tags</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.name }}</td>
          <td>{{ contact.surname }}</td>
          <td>{{ contact.adress }}</td>
          <td class="text-center">
            <a class="icon" *ngIf="contact.bookmark" (click)="bookmarkCheck(contact.contactId)" ><fa-icon [icon]="faBookmarkSolid"></fa-icon></a>
            <a class="icon" *ngIf="!contact.bookmark" (click)="bookmarkCheck(contact.contactId)"><fa-icon [icon]="faBookmarkRegular"></fa-icon></a>
          </td>
          <td>
            <div *ngFor="let num of contact.phoneNumbers">
              <p>{{ num.number }}</p>
            </div>
          </td>
          <td>
            <div *ngFor="let email of contact.emails">
              <p>{{ email.email }}</p>
            </div>
          </td>
        
      <td>
        <div *ngFor="let tag of contact.hashTags">
          <a class="badge badge-light">{{tag.hashTag.hashName}}</a>
         
        </div>
      </td>
          <td>
            <button type="button" class="btn btn-success mr-1" [routerLink]="['/contacts/', contact.contactId]">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger" (click)="deleteContact(contact.contactId)" >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>



  </div>
</div>
