<div class="container">
  <h2 class="h2 text-center mt-3" *ngIf="bookmarkedContacts?.length == 0">No Contacts to Display</h2>
<table *ngIf="bookmarkedContacts?.length > 0" class="table mt-5">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Address</th>
      <th scope="col">Bookmark</th>
      <th scope="col">Numbers</th>
      <th scope="col">Emails</th>
      <th scope="col">Tags</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of bookmarkedContacts">
      <td>{{ contact.name }}</td>
      <td>{{ contact.surname }}</td>
      <td>{{ contact.adress }}</td>
      <td class="text-center"> 
        <a class="icon" (click)="bookmarkCheck(contact.contactId)" ><fa-icon [icon]="faBookmarkSolid"></fa-icon></a>
      </td>
      <td>
        <div *ngFor="let num of contact.phoneNumbers">
          <p>{{ num.number }}</p>
        </div>
      </td>
      <td>
        <div *ngFor="let email of contact.emails">
          <p>{{ email.email }}</p>
        </div>
      </td>
      <td>
        <div *ngFor="let tag of contact.hashTags">
          <a [routerLink]="['/hashtags/', tag.hashTag.hashName]" class="badge badge-light">{{tag.hashTag.hashName}}</a>
         
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-success mr-1" [routerLink]="['/contacts/', contact.contactId]">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteContact(contact.contactId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

</div>