/* You can add global styles to this file, and also import other style files */
@import '../node_modules//bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

table {
    table-layout: auto;
    width: 100%;
}

th, td {
    white-space: break-word;
    overflow-wrap: break-word;
}

table tbody tr:hover {
    background-color: #dee2e6;
}

.icon:hover {
    opacity: 0.5;
}