<div class="container mt-3">
  <br>
  <div class="row">
    <div class="col-lg-10">
      <h2 class="h2"> Edit Contact</h2>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-info float-right " (click)="goBack()">Back</button>
    </div>
  </div>

<form class="mt-2 mb-5" [formGroup]="editForm">
  <div class="form-row">
    <div class=" col-lg-6 col-md-6 mb-3">
      <label for="Name">First name</label>
      <input
        type="text"
        class="form-control"
        placeholder="First name"
        required
        formControlName="name"
      />
    </div>
    <div class="col-lg-6 col-md-6 mb-3">
      <label for="Surname">Last name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Last name"
        formControlName="surname"
      />
    </div>
  </div>
  <div class="form-row">
    <div class=" col-lg-12 col-md-12 mb-3">
      <label for="Adress">Adress</label>
      <input
        type="text"
        class="form-control"
        placeholder="Adress"
        formControlName="adress"
      />
    </div>
  </div>
  <div class="form-row">
    <div class=" col-lg-6 col-md-6" formArrayName="numbers">
      <div
        class="row"
        *ngFor="let group of numbersArray.controls; let i = index;"
        [formGroupName]="i"
      >
        <div class="col-md-10 col-lg-10 ">
          <div class="form-group">
            <label for="Number">Number</label>
            <div class="input-group">
              <input
                type="tel"
                class="form-control"
                placeholder="Number"
                formControlName="number"
              />
              <button
                class="btn btn-success btn-md btn-input ml-2"
                (click)="addNumber()"
              >
                Add
              </button>
              <button
                [disabled]="i == 0"
                class="btn btn-danger btn-md btn-input ml-2"
                (click)="removeNumber(i)"
              >
                X
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 " formArrayName="contactEmails">
      <div
        class="row"
        *ngFor="let group of emailsArray.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="col-md-10 col-lg-10">
          <div class="form-group">
            <label for="Email">Email</label>
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                placeholder="email"
                formControlName="email"
              />
              <button
                class="btn btn-success btn-md btn-input ml-2"
                (click)="addEmail()"
              >
                Add
              </button>
              <button
                [disabled]="i == 0"
                class="btn btn-danger btn-md btn-input ml-2"
                (click)="removeEmail(i)"
              >
                X
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 col-lg-6 " formArrayName="contactHashTags">
      <div
        class="row"
        *ngFor="let group of hashArray.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="col-md-10 col-lg-10">
          <div class="form-group">
            <label for="Email">Hashtag</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="HashTag"
                formControlName="hashName"
              />
              <button
                class="btn btn-success btn-md btn-input ml-2"
                (click)="addHashTag()"
              >
                Add
              </button>
              <button
                [disabled]="i == 0"
                class="btn btn-danger btn-md btn-input ml-2"
                (click)="removeHashTag(i)"
              >
                X
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row float-right">
    <button
      [disabled]="!editForm.valid"
      class="btn btn-primary "
      type="submit"
      (click)="submitContact()"
    >
      Submit form
    </button>
  </div>

</form>

</div>