<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">PhoneBook</a>

    <ul  class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/contacts']"  >Contacts</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/search']" >Search</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/bookmarks']" >Bookmarks</a>
      </li>
    </ul>
  </div>
</nav>
